*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --main-color:#EA5167;
    --main-color-alt:#EA5167;
    --text-color:#b0a6a6;
    --main-transition:0.3s;
    --main-padding-top:100px;
    --main-padding-bottom:100px;
    --section-background:#232450;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "poppins", sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/*small*/
@media (min-width:768px){
    .container{
        width: 750px;
    }
}
/* medium */
@media (min-width:992px){
    .container{
        width: 970px;
    }
}
/* large */
@media (min-width:1200px){
    .container{
        width: 1170px;
    }
}
/* end global rules */

.page{
    background-color: var(--section-background);
    padding-bottom: var(--main-padding-bottom);
    padding-top: var(--main-padding-top);
    /* display: flex; */
}
/*logo*/
.logo{
    display: flex;
    justify-content: center; 
}
.logo img{
    width: 40%;
}
@media (max-width:767px){
    .logo img{
        width: 250px;
    }
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: var(--main-padding-bottom);
    padding-top: var(--main-padding-top);
}
.cont{
    width: 70%;
    background-color: rgb(61, 60, 60);
    margin-bottom: 30px;
    border-radius: 40px;
}
@media (max-width:376px){
    .cont{
        width: 90%;
        }
}
.container .insta{
    display: flex;
}
.container .insta a ,
.container .facebook a,
.container .behance a,
.container .location a{
    width: 40%;
    height: 30%;
    padding: 10px;
}
.container .insta a .social,
.container .facebook a .social,
.container .behance a .social,
.container .location a .social
{
    display: flex;
    width: 20%;
}
@media (max-width:767px){
    .container .insta a .social,
    .container .facebook a .social,
    .container .behance a .social,
    .container .location a .social
    {
        width: 40px;
    }
}
.container .insta h2,
.container .facebook h2,
.container .behance h2,
.container .location h2{
    color: var(--text-color);
    font-size: 30px;
    display: flex;
    align-items: center;
}
@media (max-width:767px){
    .container .insta h2,
    .container .facebook h2,
    .container .behance h2,
    .container .location h2{
        font-size: 20px;
    }
}
.container .facebook{
    display: flex;
}
.container .behance{
    display: flex;
}
.container .location{
    display: flex;
}
.contact{
    display: flex;
    justify-content: center;
}
.contact a i{
    color: white;
    font-size: 50px;
    padding: 30px;
}
@media (max-width:767px){
    .contact a i{
        font-size: 30px;
        padding: 30px;
    }
}